<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- 因为使用 vue 所以把这里 注释掉，还没有完全搞清楚具体原因 -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" /> -->
    <title>PDF Watermark</title>
    <link rel="stylesheet" href="./web/styles/styles.css">
  </head>
  <body>
    <div id="app">
        <ul>
        <li>{{ inputFilePath }}</li>
        <li>{{ textOptions.text }}</li>
        <li><label>水印文字：<input type="text" id="watermarkText" v-model="textOptions.text"></label></li>
        <!-- <li>角度：<input type="range" min="0" max="360" v-model="textOptions.rotate" class="slider"></li> -->
        <li>透明度：<input type="range" min="0" step="0.1" max="1" v-model="textOptions.opacity" class="slider"> {{ textOptions.opacity }}</li>
        <li>
            <button @click="choiceFile">选择文件</button>
            <button @click="saveFile" :disabled="!textOptions.text || !inputFilePath">保存文件</button>
        </li>
        </ul>
    </div>
    <script src="./web/vue.global.js"></script>
    <script src="./web/renderer.js"></script>
  </body>
</html>
